
p {
    font-size: 18px;
    color: #555;
}

.highlight {
    background-color: yellow;
    padding: 10px;
}

#bunderline {
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: red !important;
}

.box-style1 {
    border: 5px solid #FFD700;
    margin: 5px;
    padding: 10px;
}
.box-style2 {
    border: 10px solid #111111;
    margin: 5px;
    padding: 10px;
}
